

<div class="container">
      <h2 class="loginheader">Boston University Project Tracker</h2>
      <mat-form-field>
          <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)='authenticateUser()'>Login</button>
      </div>

<div class="container" style="margin-top:10px">
    <button mat-raised-button color="primary" (click)='loginwithGoogle()'>Login with Google</button>
</div>

<div class="container" style="margin-top:10px">
        <button mat-raised-button color="primary" (click)='redirect_register()'>Create New Account</button>
    </div>


    

