<mat-card class="container mat-elevation-z15" style="margin-top:50px">
    <div class="container" style="margin-top:1px">
        <img height="150px" width="100%" src="/assets/images/bu2.jpg" alt="BU PROJECT TRACKER HOME">
    </div>
    <div class="container"  (keyup.enter)="authenticateUser()">
        <h2 class="loginheader">BOSTON UNIVERSITY PROJECT TRACKER</h2>

        <div *ngIf="loginError">
            <label style="color:red">Incorrect Username and Password Combination</label>
        </div>
        <mat-form-field>
            <input matInput [(ngModel)]="authInfo.userName" placeholder="Username">
        </mat-form-field>

        <div style="width:100%">
            <mat-form-field style="width:80%;float:left">
                <input 
                    ng-keypress="toggleVisibility()" 
                    *ngIf="!passwordVisibility, else showPassword" 
                    matInput 
                    [(ngModel)]="authInfo.password"
                    type="password"
                    placeholder="Password">
                <ng-template #showPassword>
                    <input matInput [(ngModel)]="authInfo.password" type="text" placeholder="Password">
                </ng-template>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="toggleVisibility()" style="float:right">
                <mat-icon>{{buttonIcon}}</mat-icon>
            </button>
        </div>

        <!-- Buttons -->
        <button mat-raised-button color="primary" (click)='authenticateUser()'>Login</button>

        <div>
            <div class="container" style="margin-top:10px;width:45%;float: left;">
                <button mat-raised-button color="primary" disabled (click)='loginwithGoogle()'>Login with Google</button>
            </div>
            <div class="container" style="margin-top:10px;width:45%;float:right">
                <button mat-raised-button color="primary" routerLink="/home">Continue as Guest</button>
            </div>
        </div>

        <div class="container" style="margin-top:10px" routerLink="/register">
            <button mat-raised-button color="primary">Create New Account</button>
        </div>
    </div>
</mat-card>
