<app-toolbar></app-toolbar>
<div>
    <h1>Welcome Back</h1>
</div>
<div style="height: 600px">
    <mat-table #table [dataSource]="dataSource">

            <!-- projectName -->
            <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
            </ng-container>

            <!-- projectDescription -->
            <ng-container matColumnDef="projectDescription">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.projectDescription}} </mat-cell>
            </ng-container>

            <!-- techStack -->
            <ng-container matColumnDef="techStack">
                <mat-header-cell *matHeaderCellDef> Tech Stack </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.techStack}} </mat-cell>
            </ng-container>

            <!-- repositoryLink -->
            <ng-container matColumnDef="repositoryLink">
                <mat-header-cell *matHeaderCellDef> Repository </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a href="{{element.repositoryLink}}">
                      {{element.projectName}} repository
                  </a>
                </mat-cell>
            </ng-container>

            <!-- projectDemo -->
            <ng-container matColumnDef="projectDemo">
                <mat-header-cell *matHeaderCellDef> Demo </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a href="{{element.projectDemo}}">
                    {{element.projectName}} website
                  </a>
                </mat-cell>
            </ng-container>

            <!-- labels -->
            <ng-container matColumnDef="labels">
                <mat-header-cell *matHeaderCellDef>Labels</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.labels}}</mat-cell>
            </ng-container>

               <!-- favorite -->
               <ng-container matColumnDef="favorite">
                  <mat-header-cell *matHeaderCellDef>Favorite</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="">favorite</mat-icon>
                  </mat-cell>
              </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
