<app-toolbar></app-toolbar>
<div style="height: 600px">
<mat-grid-list cols="4" rowHeight="1.7:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">Your Projects</mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">Material Table showing your current projects.  User should be able to click on each one to take you to the details view</mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">Show projects recent projects created by other users.  Or trending projects?</mat-grid-tile>
</mat-grid-list>

<p *ngIf="isLoggedIn">
    The User is logged in
</p>
<p *ngIf="!isLoggedIn">
    User is not logged in
</p>
</div>

<div class="container">
   <p> This is Google Login Test area</p>
    <b>Account username: {{accountusernmae}}</b>
</div>