<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="projectName">Project name</label>
      <input type="text" [(ngModel)]="newProject.projectName" name="projectName" required>
    </div>
    <div>
      <label for="projectDescription">Project Description</label>
      <input type="text" [(ngModel)]="newProject.projectDescription" name="projectDescription" required>
    </div>
    <div>
      <label for="repository">Repository</label>
      <input type="text" [(ngModel)]="newProject.repositoryLink" name="repositoryLink">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
