<div class="container">

  <div>
      <button mat-raised-button color="primary" (click)='redirectToPreviousPage()'>Back</button>
  </div>

  <!-- Project Title -->
  <div>
    <mat-card>
        <mat-card-title>Project Title</mat-card-title>
      <h1>Project Portal</h1>
    </mat-card>
  </div>


  <div>
    <mat-tab-group>
      <mat-tab label="About"> Here members, Repo link, Demo Link will be shown</mat-tab>
      <mat-tab label="Technology Stack">Here the Stack details will be show with download links</mat-tab>
      
      <mat-tab label="Description">
          <mat-card>
              <mat-card-content>
                  This area contains the project description.This area contains the project description.This area contains the project description.This area contains the project description.This area contains the project description.This area contains the project description.This area contains the project description.
              </mat-card-content>
              <mat-card-actions>
                <button class="btn btn-primary">Add to favorites</button>
              </mat-card-actions>
          </mat-card>

      </mat-tab>

    </mat-tab-group>
  </div>

  <div>
    <mat-card>
        <mat-card-title>#Lables#Lables#Lables#Lables#Lables#Lables#Lables</mat-card-title>
    </mat-card>
  </div>

  
  <div>
      <button mat-raised-button color="primary" (click)='redirectToPreviousPage()'>Back</button>
  </div>

</div>