<app-toolbar></app-toolbar>

<mat-grid-list cols="4" rowHeight="280px" style="background-color:white">

  <mat-grid-tile class="tile" [colspan]="2" [rowspan]="1">
    <mat-card class="card">
      <h3> Welcome, {{user.firstName}}</h3>
      <h5 *ngIf="user.firstName !== 'Guest'"><em>Email:</em> {{user.email}}</h5>
      <h5 *ngIf="user.firstName !== 'Guest'"><em>Nickname:</em> {{user.title}}</h5>
      <button
        *ngIf="user.firstName !== 'Guest'"
        mat-raised-button
        color="primary"
        [routerLink] = "['/editProfile']"
        [queryParams] = "{id: user._id}">
          <mat-icon>edit</mat-icon>
      </button>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
