<app-toolbar></app-toolbar>


<mat-grid-list cols="4" rowHeight="280px" style="background-color:white">

  <mat-grid-tile class="tile" [colspan]="1" [rowspan]="1">
    <mat-card class="card">
      <h3> Welcome {{ user.firstName }} {{ user.lastName }}</h3>
      <h4>{{ user.email }}</h4>
      
      <img mat-card-image src="/assets/images/avatar.jpg" style="width:100px;height:100px">

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="tile" [colspan]="3" [rowspan]="3">
    <mat-card class="card mat-elevation-z20" style="height:93%;width:96%">


      <!-- Right panel START-->
      <div *ngIf="myProjects" style="width:100%;background-color:white">
        <div style="width:40%;float:left;margin-left:50px">
          <mat-card style="height:700px">
            <mat-card-title>My Projects</mat-card-title>
            <mat-card>Project 1</mat-card>
            <mat-card>Project 2</mat-card>
            <mat-card>Project 3</mat-card>
            <mat-card>Project 4</mat-card>
            <mat-card>Project 5</mat-card>
            <mat-card>Project 6</mat-card>
            <mat-card>Project 7</mat-card>
            <mat-card>Project 8</mat-card> 
            <mat-card>Project 9</mat-card> 
            
          </mat-card>
        </div>

        <div style="width:40%;float:right;margin-right:50px">
          <mat-card style="height:700px">
            <mat-card-title>My Favorite Projects</mat-card-title>
            <mat-card>Project 1</mat-card>
            <mat-card>Project 2</mat-card>
            <mat-card>Project 3</mat-card>
            <mat-card>Project 4</mat-card>
            <mat-card>Project 5</mat-card>
            <mat-card>Project 6</mat-card>
            <mat-card>Project 7</mat-card>
            <mat-card>Project 8</mat-card> 
            <mat-card>Project 9</mat-card>      


          </mat-card>
        </div>
      </div>
<!-- Right panel END-->


    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="tile" [colspan]="1" [rowspan]="2">
    <mat-card class="card mat-elevation-z20" style="height:90%">
      <!-- <mat-list> -->
        <!-- <mat-list-item> -->
            
          <!-- Complete USER DETAILS/PROFILE will be shown here with EDIT options.
          In case if guest this will contain random image -->
        <!-- </mat-list-item> -->
        <!-- <mat-list-item>
            Join Date: {{ user.joinDate }}
        </mat-list-item> -->
      <!-- </mat-list> -->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>