mat-card {
  margin: auto;
  height: 100%;
  width: 97%;
}

mat-card-title {
  font-size: 22px;
  font-weight: bold;
}

app-add-project {
  height: 100%;
  width: 95%;
}

mat-grid-tile {
  background-color: lightblue;
}

.mat-column-projectNameDescription {
  flex: 0 0 70%;
}

.mat-column-delete {
  flex: 0 0 15%;
}

.mat-column-edit {
  flex: 0 0 15%;
}
