<app-toolbar></app-toolbar>

<table id="projects">
  <thead>
    <tr>
      <th>Create Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Repository</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.dateCreated}}</td>
      <td>{{project.projectName}}</td>
      <td>{{project.projectDescription}}</td>
      <td>{{project.repositoryLink}}</td>
      <td>
        <button type="button" (click)="deleteProject(project);">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<app-add-project (projectAdded)="onNewProjectAddedRefreshList()"></app-add-project>
