<app-toolbar></app-toolbar>

<mat-grid-list cols="6" rowHeight="200px">
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <app-add-project (projectAdded)="onNewProjectAddedRefreshList($event)"></app-add-project>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="3">
    <mat-card>
      <mat-card-title>All Projects</mat-card-title>
      <mat-table #table [dataSource]="dataSource">

        <!-- projectName -->
        <ng-container matColumnDef="projectNameDescription">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="project-name">{{element.projectName}}</span>
            <br />
            <span class="project-description">{{element.projectDescription}}</span>
          </mat-cell>
        </ng-container>

        <!-- delete -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="deleteProject(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

    <!-- edit -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-raised-button
                  color="primary"
                  [routerLink] = "['/editProject']"
                  [queryParams] = "{id: element._id}">
              <mat-icon>edit</mat-icon>
          </button>
      </mat-cell>
  </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
