<app-toolbar></app-toolbar>
<button (click)="getMembersById()">Get user</button>
<div class="wrapper">

  <div ng-app="" class="internal" style="width:100%">
    <mat-form-field>
      <input matInput id="x" placeholder="Search Project">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getProject()">Select</button>
    <label *ngIf="showError" style="color:red">{{errorMessage}}</label>
  </div>


  <!-- List of Searched Projects | START -->
  <div *ngIf="showProjectList" class="internal">
    <mat-card>
      <mat-card-title >Select A Project To Display</mat-card-title>
      <mat-table #table [dataSource]="dataSource">

        <!-- projectName -->
        <ng-container matColumnDef="projectName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
        </ng-container>


        <!-- delete -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef> Search</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="selectProject(element)">
              <mat-icon>label</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </mat-card>
  </div>
  <!-- List of Searched Projects | END -->

  <!-- Header | Start -->
  <div *ngIf="showProjectContent" class="internal">
    <mat-card class="mat-elevation-z6">
      <mat-card-title style="text-align:center">{{selectedProjectName}}</mat-card-title>

    </mat-card>
  </div>
  <!-- Header | End -->


  <div *ngIf="showProjectContent"  class="internal">
    <mat-tab-group class="mat-elevation-z6">

      <!-- tab1 -->
      <mat-tab label="About">
        <mat-list>
          <mat-list-item>Date Created:
            <b> {{selectedProjectDateCreated | date : "MMM dd yyyy"}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Last Modified:
            <b> Not Available</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Repository Link:
            <a href="" class="href"> {{selectedProjectRepositoryLink}}</a>
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item>Demo Link:
            <a href="" class="href"> {{selectedProjectDemo}}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

      </mat-tab>



      <!-- tab2 -->
      <mat-tab label="Technology Stack">
        <mat-list>

          <mat-list-item>Back End:
            <b>{{selectedProjectBackEnd}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Framework:
            <b>{{selectedProjectFramework}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Front End:
            <b>{{selectedProjectFrontend}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Testing Framework:
            <b>{{selectedProjectTestingFramework}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Version Control Tool:
            <b>{{selectedProjectVersionControlTool}}</b>
          </mat-list-item>
          <mat-divider></mat-divider>

        </mat-list>

      </mat-tab>

      <!-- tab 3 -->
      <mat-tab label="Description">
        <mat-card>
          <mat-card-content>
            <p class="mat-title">{{selectedProjectDescription}}</p>
          </mat-card-content>

        </mat-card>

      </mat-tab>

      <!-- tab 4 -->
      <mat-tab label="Members">
        <mat-list>
          <mat-list-item>Andy</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Ben</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Chad</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Kanishk</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Parker</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

      </mat-tab>



    </mat-tab-group>

  </div>

  <div *ngIf="showProjectContent" class="internal">
    <mat-card>
      <mat-card-title>Tags</mat-card-title>
      <mat-card-content>
        #angular #nodejs #mean #express #mongodb #typescript #angular-material
      </mat-card-content>
    </mat-card>
  </div>


  <div *ngIf="showProjectContent" class="internal" style="text-align:center">
    <button mat-raised-button color="primary" (click)='redirectToPreviousPage()'>Back</button>
    <button matTooltip="Add to Favorite Projects" mat-raised-button color="primary">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>


<!-- <div>
  DATA BINDING TESTING
  <p>{{selectedProjectName}}</p>
  <p>{{selectedProjectDescription}}</p>
  <p>{{selectedProjectDemo}}</p>
  <p>{{selectedProjectName}}</p>
  <p>{{selectedProjectRepositoryLink}}</p>
  <p>{{selectedProjectDateCreated}}</p>
  <p>{{selectedProjectTags}}</p>
  <p>{{selectedProjectBackEnd}}; </p>
  <p>{{selectedProjectFrontend}}; </p>
  <p>{{selectedProjectFramework}}; </p>
  <p>{{selectedProjectTestingFramework}} </p>
  <p>{{selectedProjectVersionControlTool}} </p>
</div> -->