
<div *ngIf=true style="text-align:center">
        <mat-card style="width:500px">
            <b style="color:forestgreen"><mat-icon>offline_pin</mat-icon>User Added Successfully</b>
        </mat-card>
    </div>
    
<div class="container">





<mat-card>
       
    <form Id="newAccount" (ngSubmit)="onCreateNewAccount()">
        <!-- title -->


        <!-- Error Section Starts Here -->
        
        <div *ngIf="errorStatus">
            <mat-card>
                <p style="color:red">{{errorMessage}}</p>
            </mat-card>
        </div>
        <!-- Error Section Ends Here -->
        <div>
            <mat-form-field>
                <mat-select matInput placeholder="Title" [(ngModel)]="newUser.title" name="title">
                    <mat-option *ngFor="let title of titles" [value]="title.value">
                        {{ title.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>
        <!-- title ends -->
        <div>
            <mat-form-field>
                <input matInput placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Email" type="email" [(ngModel)]="newUser.email" name="email" required>
            </mat-form-field>
        </div>

        <!-- Password One -->
        <div>
            <mat-form-field>
                <input (input)="getPassword1($event)" minlength="8" maxlength="12" matInput type="password" placeholder="Password" name="password1"
                    [(ngModel)]="newUser.p1" required>
            </mat-form-field>
            <label *ngIf="allCool" style="color:red">*</label>

        </div>



        <!-- Password Confirm -->
        <div>
            <mat-form-field>
                <input (input)="getPassword2($event)" minlength="8" maxlength="12" matInput type="password" placeholder="Confirm Password"
                    [(ngModel)]="newUser.password" name="password2" required>
            </mat-form-field>
            <label *ngIf="allCool" style="color:red">*</label>
            <label *ngIf="false">.........Passwords do not match</label>
        </div>


        <div>
            <button mat-raised-button color="primary">
                Create Account
            </button>
        </div>

    </form>

    <div>
        <p style="color:red">{{confirmation}}</p>
    </div>

</mat-card>
</div>