<app-toolbar></app-toolbar>
<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
      <mat-card>
          <mat-card-title>Edit Project</mat-card-title>
          <form
              *ngIf="userIsAuthorized"
              #newProjectForm
              (ngSubmit)="updateProject()"
              >
              <mat-form-field>
                  <input hidden="true"
                    [(ngModel)]="myProject._id">
                  <input
                      matInput
                      placeholder="Project Name"
                      [(ngModel)]="myProject.projectName"
                      name="projectName"
                      required>
              </mat-form-field>
              <mat-form-field>
                  <input
                      matInput
                      placeholder="Description"
                      [(ngModel)]="myProject.projectDescription"
                      name="projectDescription"
                      required>
              </mat-form-field>
              <mat-form-field>
                  <input
                      matInput
                      placeholder="Repository Link"
                      [(ngModel)]="myProject.repositoryLink"
                      name="repositoryLink">
              </mat-form-field>
              <mat-form-field>
                  <input
                      matInput
                      placeholder="Demo"
                      [(ngModel)]="myProject.projectDemo"
                      name="projectDemo">
              </mat-form-field>
              <mat-form-field>
                  <input
                      matInput
                      placeholder="Tech Stack"
                      [(ngModel)]="myProject.techStack"
                      name="techStack">
              </mat-form-field>

              <mat-form-field>
                  <input
                      matInput
                      placeholder="Labels"
                      [(ngModel)]="myProject.labels"
                      name="labels">
              </mat-form-field>
              <br />
              <button
                [disabled] = false
                mat-raised-button
                color="primary">
                <mat-icon>edit</mat-icon>
              </button>
          </form>

          <p *ngIf="!userIsAuthorized">Please Login to edit a project!</p>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>


